body{
    font-family: 'Noto Sans TC', sans-serif;
}
#chat{
    background-color: cadetblue;
    width: 50%;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

#log{
    overflow: auto;
    background-color: rgb(232, 232, 232);
    flex-grow: 1;
    min-height: 25em;
    padding-left: 0.5em;
}

.form-inline{
    background-color: thistle;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline input {
    flex-grow: 1;
    vertical-align: middle;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-inline button {
    height: 2em;
    background-color: #00798F;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}

.form-inline button:hover {
    background-color: #91BFC7;
}

#msg-type {
    height: 2em;
    width: 60px;
}

.input{
    height: 2em;
}

.sm-text {
    font-size: 8pt;
    color: rgb(172, 172, 172);
}

.md-text {
    margin-left: 0.5em;
    font-size: 10pt;
    color: #000;
}

.bro-text {
    margin-left: 0.5em;
    font-size: 10pt;
    color: goldenrod;
}

.system-text {
    font-size: 8pt;
    color: firebrick;
    position: relative;
}

.chat-text {
    margin-bottom: 5px;
}