html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #c6dde1;
    font-family: 'Noto Sans TC', sans-serif;
}

/* sprite */

.user-fa-off{
    color:#00798F;
    margin-right:8px;
}

.user-fa-on{
    color:#007a8f45;
    margin-right:8px;
}

.exit-btn{
    margin-left: 0.5em;
    border: 0.05em;
    border-radius: 0.3em;
    border-style: solid;
    border-color:transparent;
    background:#159ab1;
    padding: 3px 8px 3px 8px;
    color: white;
}

.exit-btn:hover{
    background: #A3D0D9;
    color: black;
}

.user-search {
    height: 2em;
    width: 80%;
    margin: 0 auto;
}

.list-btn {
    background-color: unset;
    border: 0;
}

.room-title {
    width: 90%;
    margin: 0 auto;
}

.chat-text {
    margin-bottom: 5px;
}

.status-a{
    color: #595959; 
    float: right;
    margin-right: 0.5em;
    margin-top: 1em;
    font-size: 9pt;
}

.status-a:hover{
    cursor: pointer;
    color: #00798F;
}

.status-a:active{
    color: #ddd;
}

.status-h{
    background-color: #00798F;
    color: white;
    border: unset;
    border-radius: 0.3em;
    margin-right: 5%;
    margin-top: 0.8em;
    margin-left: 0.2em; 
    float: right;
    width: 4em;
    height: 2em;
    font-size: 9pt;
}
.status-h:hover{
    cursor: pointer;
    background-color: #159ab1;
}

.refresh-text{
    font-size: 9pt;
}

.card {
    margin: 5px auto;
    width: 90%;
    height: 2.6em;
    padding: 5px 5px 5px 12px;
    background-color: #A3D0D9;
    border-radius: 0.4em;
}

.pchat-btn-w {
    color: white;
    text-align: right;
    cursor: pointer;
}

.pchat-btn-r {
    color: rgb(228, 128, 128);
    text-align: right;
    cursor: pointer;
}

.room-btn {
    width: 100%;
    margin: 1px auto;
    height: 60px;
    padding: 5px 5px 5px 12px;
    background-color:#A3D0D9;
    border: 0;
}

.room-btn-h {
    width: 100%;
    margin: 1px auto;
    height: 60px;
    padding: 5px 5px 5px 12px;
    background-color: #159ab1;
    border: 0;
}

.new-room-btn {
    background-color: transparent;
    height: 1.5em;
    width: 1.5em;
    border: 0;
    padding: 0;
    position: relative;
    top: 0.37em;
}

.new-room-btn:hover {
    background-color: #91BFC7;
    top: 0.48em;
    cursor: pointer;
}

/* hover */
.mh20 {
    color: rgba(255, 255, 255, 1);
    transition: all 0.5s;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

.mh20:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    opacity: 1;
    transform: translate(-105%, 0);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 1);
    background-color:#00798F;
}

.mh20:hover:before {
    opacity: 0;
    transform: translate(0, 0);
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 2em;
    height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #00798F;
}

.svg-icon circle {
    stroke: #00798F;
    stroke-width: 1;
}

/* area */
.nav{
    width: 100%;
    height: 50px;
    padding: 5px;    
    color: #fff;
    background: #00798F;
    box-shadow:0px 0px 12px 0px rgba(40, 40, 40, 0.5);
}

.nav-left{
    float: left;
    position: relative;
    margin: 8px 1em;
    overflow: hidden;
}

.nav-right{
    width: 55vw;
    float: right;
}

#rooms {
    overflow: auto;
    height: 60vh;
    width: 100%;
    position: absolute;
    bottom: 15vh;
}

#chat {
    height: 100vh;
    width: 100vw;
    float: left;
}

#room {
    position: relative;
    height: 100vh;
    width: 15%;
    float: left;
}

#log {
    overflow: auto;
    background: white;
    height: 90vh;
    margin-top: 0;
    padding: 0.5em 2em 0.5em 2em;
}

#form{
    position: absolute;
    width: 100%;
    height: 5vh;
    bottom: 0;
}

/* form */

.form-inline {
    display: inline-flex;
    align-items: center;
    width: 100%;

}

.form-inline input {
    flex-grow: 1;
    vertical-align: middle;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-inline button {
    padding: 10px 1vh;
    border-radius: 0.3em;
    background-color: #00798F;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
    width: 12%;
}

.form-inline button:hover {
    background-color: #91BFC7;
}

.form-inline select {
    height: 2.9em;
    width: 60px;
}

.div-ell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* text */
.title-text {
    text-align: center;
    color: #413636;
}

.box-text {
    color: #413636;
    font-size: 14pt;
    font-weight: 600;
}

.room-box-text {
    color:black;
    font-size: 14pt;
}

.sm-text {
    font-size: small;
    color: rgb(172, 172, 172);
}

.b-text{
    font-weight: 1000;
    color: #3e3e3e;
}

.md-text {
    margin-left: 0.5em;
    font-size: 14pt;
    color: #000;
}

.bro-text {
    margin-left: 0.5em;
    font-size: 12pt;
    color: goldenrod;
}

.system-text {
    font-size: small;
    color: firebrick;
    position: relative;
}

.nav-title{
    color: #fff;
    margin: 0 auto;
    font-size: 18pt;
    font-weight: bold;
}

.client-info-text{
    color: #fff;
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
    transition: all .25s ease;
}

.slide-fade-leave-active {
    transition: all .18s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}